*{
	margin: 0;
	padding: 0;
}

.navbar-brand img {
	height: 5vh;
}
.card-img-topz{
    width: 250px;
    height: 400px;
}
.card{
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    
}
#lista-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
}